@import-normalize;

:root {
  --bg-color: #5736a3;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
h1,
h2,
h3,
p,
button {
  margin: 0;
  padding: 0;
}
